
:root {
  --color-background-light: #aee284; 
  --color-background-dark: #1f4b5d; 
  --color-text-primary: #333;
  --color-text-secondary: #555;
  --color-primary: #1976d2; 
  --color-box-background-light: rgba(255, 255, 255, 0.9);
  --color-box-background-dark: rgba(0, 0, 0, 0.3);
}

/* Fő stílus a body-ra */
body {
  transition: background-color 0.3s ease;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Kiterjeszti a háttérszínt a teljes magasságra */
}

 /* default light-theme */
body.theme-light {
  background-color: var(--color-background-light);
  color: var(--color-text-primary);
}

/* dark-theme */
body.theme-dark {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark-mode, #e0e0e0); /* Fehér szöveg a sötét háttéren */
}

/* Közös gomb stílus (Login/Register) */
.button-primary {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: white;
  margin-left: 10px;
}

.button-primary:hover {
  opacity: 0.8;
}