.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Félátlátszó háttér a jobb láthatóságért */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

:global(.theme-dark) .header {
    /* Sötét háttér */
    background-color: rgba(10, 10, 10, 0.9); 
    color: var(--color-text-dark-mode, #e0e0e0); /* A szöveg színe világos lesz */
    /* Az árnyékot is módosítjuk sötét környezethez */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2); 
}

.logo {
  font-size: 1.8em;
  margin: 0;
}

.leftControls, .rightControls {
  display: flex;
  align-items: center;
}