.header { /* Header container styles */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.8); /* transparent backround for better visibility */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}
/* Dark mode styles */
:global(.theme-dark) .header {
    /* dark background */
    background-color: rgba(10, 10, 10, 0.9); 
    color: var(--color-text-dark-mode, #e0e0e0); /* text color in dark mode */
    /* modified shadow */
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2); 
}
/* Logo styles */
.logo {
  font-size: 1.8em;
  margin: 0;
}
/* Navigation styles */
.leftControls, .rightControls {
  display: flex;
  align-items: center;
}