html { /* default styles for the html element */
	font-family: 'Segoe UI', sans-serif; /*Font*/
	font-size: 16px; 
	line-height: 1.5; 
	background: #aee284; /*dark theme background*/
	color: white; /*dark theme text color*/
}

html,
body,
div { /* reset styles for common elements */
	margin: 0; /* CSS reset */
	padding: 0; /* CSS reset */
	display: grid; /* grid layout */
	grid: minmax(0, 1fr) / minmax(0, 1fr); /* the only child is full width and height */
}

body {
	min-height: 100vh; /* window height */
	max-height: 100vh; /* window size */
}

input,
button,
a { /* reset styles for interactive elements */
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border: 0; 
	color: inherit;
}

input { /* input field styles */
	background: black; 
}

button { /* button styles */
	padding: 8px 16px; /* padding */
	background: #2ae; /* dark theme */
	font-weight: 600; /* bold */
	border-radius: 7px; /* rounded corners */
	box-shadow: 1px 2px 10px black; /* transition for shadow and color */
	transition: all 145ms ease-out; /* transition for shadow and color */

	&:hover { /* hover state */
		background: #3cf; /* changes color when mouse is over */
		box-shadow: 2px 5px 20px black; /* larger shadow when hovered */
	}

	&:active { /* active (pushed) state */
		box-shadow: none; /* no shadow when pushed */
		background: #17b; /* changes color if pushed */
	}
}